# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


.vscode/settings.json
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets